/* .form{ */
/* 	text-align: justify; */
/* 	padding: 5px; */
/* 	margin: 5px; */
/* 	margin-right: 5px; */
/* 	background-color: black; */
/* } */

.divMae{
	padding: 25%;
	margin: 25px;
	position: absolute;top: 50px;
	text-align: right;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* .divMae > :first-child { */
/* 	padding: 25%; */
/* 	margin: 25px; */
/* 	position: absolute;top: 50px; */
/* 	text-align: right; */
/* 	display: flex; */
/* 	justify-content: space-between; */
/* 	align-items: center; */
/* } */

.form{
	padding: 25%;
	margin: 25px;
	position: absolute;top: 50px;
	display: flex;
	text-align: right;
	justify-content: space-between;
	align-items: center;
}

/* .tabela-com-borda { */
/*   border-collapse: collapse; */
/*   width: 100%; */
/* } */

/* .tabela-com-borda th, */
/* .tabela-com-borda td { */
/*   border: 1px solid black; */
/*   padding: 8px; */
/* } */
/* .contato{ */
/* 	margin-right: 5px; */
/* 	padding: 10px; */
/* 	padding-top: 10%; */
/* } */
.button1 {
	margin-right: 5px;
	padding: 10px;
	margin: 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10px;
}
.button2 {
	margin-right: 5px;
	padding: 10px;
	margin: 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
